{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <p><a href="#">@Suggestion1</a></p>
        <p><a href="#">@Suggestion2</a></p>
        <p><a href="#">@Suggestion3</a></p>
        <p><a href="#">@Suggestion4</a></p>
        <p><a href="#">@Suggestion5</a></p>
        <p><a href="#">@Suggestion6</a></p>
        <p><a href="#">@Suggestion7</a></p>
        <p><a href="#">@Suggestion8</a></p>
    </div>

    <form action="login/" method="post">
        <div class="form-group">
            <label for="usernameLogin">Username or Email address</label>
            <input class="form-control" id="usernameLogin" name="username" type="text" autocomplete="off" placeholder="Username or email address" autofocus required/>
        </div>

        <div class="form-group">
            <label for="passwordLogin">Password</label>
            <input class="form-control" id="passwordLogin" name="password" type="password" autocomplete="off" placeholder="Password" required/>
        </div>

        <button class="btn btn-default" type="submit">Log In</button>
    </form>


{% endblock %}