{% extends 'base.html.twig' %}

{% block content %}

    <form action="login/" method="post">
        <div class="form-group">
            <label for="usernameLogin">Username or Email address</label>
            <input class="form-control" id="usernameLogin" name="username" type="text" autocomplete="off" placeholder="Username or email address" autofocus required/>
        </div>

        <div class="form-group">
            <label for="passwordLogin">Password</label>
            <input class="form-control" id="passwordLogin" name="password" type="password" autocomplete="off" placeholder="Password" required/>
        </div>

        <button class="btn btn-default" type="submit">Log In</button>
    </form>

{% endblock %}