<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    {%  block title %}  %}Kebagram [{% endblock %}
{% endblock %}

{% block body %}


<form action="App\Controllers\UserController:authenticateUser" method="post">
    <input type="text" autocomplete="off" placeholder="Username or email address" autofocus/>
    <input type="password" autocomplete="off" placeholder="Password"/>
    <button>Log In</button>
</form>

{% endblock %}

</html>