{% extends 'base.html.twig' %}

{% block content %}


    {# suggestions #}
    <div class="container container-suggestions pull-left">
        <p><a href="#">@Suggestion1</a></p><br>
        <p><a href="#">@Suggestion2</a></p><br>
        <p><a href="#">@Suggestion3</a></p><br>
        <p><a href="#">@Suggestion4</a></p><br>
        <p><a href="#">@Suggestion5</a></p><br>
        <p><a href="#">@Suggestion6</a></p><br>
        <p><a href="#">@Suggestion7</a></p><br>
        <p><a href="#">@Suggestion8</a></p><br>
    </div>

    {# liste kebabs OU login #}

    {% if user.email != false %}
        {# liste kebabs #}

        {# {% for publi in app.kebabs %} #}
        <div class="container container-listkebabs">

            <div class="panel panel-warning container-kebab">
                <div class="panel-heading"><h1 class="panel-title">Username</h1></div>

                {# img #}
                <div class="panel-body">
                    <img class="img-responsive" src="/Kebagram/public/assets/img/avatars/lecorse.png"><br>
                </div>

                <ul class="list-group">

                    {# desc #}
                    <li class="list-group-item">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum dolor a eleifend facilisis. Cras et augue turpis. Praesent odio purus, laoreet non orci non, sodales dignissim nunc. Nam vulputate semper sodales. Etiam a purus sagittis, dapibus augue vel, laoreet quam. Pellentesque at bibendum nulla, eu imperdiet turpis.</p>
                    </li>

                    {# tags #}
                    <li class="list-group-item">
                        <p class="textgrise">#Lorem #Ipsum #Dolor #Sit #Amet</p>
                    </li>

                    {# comments #}
                    <li class="list-group-item">
                        Commentaires
                    </li>
                </ul>
            </div>

        </div>
        {# {% endfor %} #}

    {% else %}
        {# login #}
        <div class="container container-listkebabs text-center">

            <form action="/Kebagram/index.php/login" method="post">
                <div class="form-group">
                    <label for="usernameLogin">Username or Email address</label>
                    <input class="form-control" id="usernameLogin" name="username" type="text" autocomplete="off" placeholder="Username or email address" autofocus required/>
                </div>

                <div class="form-group">
                    <label for="passwordLogin">Password</label>
                    <input class="form-control" id="passwordLogin" name="password" type="password" autocomplete="off" placeholder="Password" required/>
                </div>

                <button class="btn btn-default" type="submit">Log In</button><br>
                <a href="/Kebagram/index.php/signup">Don't you have an accout ? Sign up</a>
            </form>
        </div>
    {% endif %}



    {# boutons #}
    <div class="container container-boutons pull-right">
        <a href="/Kebagram/index.php/addpic"><button class="btn-lg btn-success">+ Ajouter une photo</button></a>
    </div>
{% endblock %}