<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    {%  block title %} Kebagram {% endblock %}
{% endblock %}

{% block body %}


    <form action="/login/" method="post">
        <input name="username" type="text" autocomplete="off" placeholder="Username or email address" autofocus required/>
        <input name="password" type="password" autocomplete="off" placeholder="Password" required/>
        <button>Log In</button>
    </form>

{% endblock %}

</html>