{% extends 'base.html.twig' %}

{% block content %}

  {# affichage #}

    <div class="container text-center">

      <p>Bien joué ! Vous êtes désormais inscrit chef !</p><br/>
      <a href="/Kebagram/">Revenir à l'accueil</a>

    </div>

{% endblock %}
