{% extends 'base.html.twig' %}

{% block content %}

  {# inscription #}

  <div class="container container-listkebabs text-center">
    <div class="inscription">
      <form action="/Kebagram/index.php/signup/submit" method="post">

          <div class="form-group">
            <label for="usernameRegister">Username</label>
            <input name="pseudo" type="text" autocomplete="off" placeholder="Pseudonyme" autofocus required/>
          </div>

          <div class="form-group">
            <label for="passwordRegister">Mot de passe</label>
            <input name="mdp" type="password" autocomplete="off" placeholder="Mot de passe" required/>
          </div>

          <div class="form-group">
            <label for="lastNameRegister">Nom</label>
            <input name="nom" type="text" autocomplete="off" placeholder="Nom"  required/>
          </div>

          <div class="form-group">
            <label for="firstNameRegister">Prénom</label>
            <input name="prenom" type="text" autocomplete="off" placeholder="Prénom" required/>
          </div>

          <div class="form-group">
            <label for="emailRegister">email</label>
            <input name="email" type="email" autocomplete="off" placeholder="email" required/>
          </div>

          <button class="btn btn-default" type="submit">Inscription</button>

      </form>

    </div>

  </div>

{% endblock %}
