{% extends 'base.html.twig' %}

{% block content %}

    {# inscription #}

    <div class="panel panel-primary panel-register text-center">
        <div class="panel-heading"><h1 class="panel-title">Registration</h1></div>
        <div class="panel-body">
            <form action="signup" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="profilepic">Profile Picture (max:1500*1500)</label>
                    <input id="profilepic" class="form-control" name="profilepic" type="file"/>
                </div>

                <div class="form-group">
                    <label for="usernameRegister">Username</label>
                    <input class="form-control" name="username" type="text" autocomplete="off" placeholder="Username" autofocus required/>
                </div>

                <div class="form-group">
                    <label for="passwordRegister">Password</label>
                    <input class="form-control" name="mdp" type="password" autocomplete="off" placeholder="Password" required/>
                </div>

                <div class="form-group">
                    <label for="firstNameRegister">First name</label>
                    <input class="form-control" name="prenom" type="text" autocomplete="off" placeholder="First Name" required/>
                </div>

                <div class="form-group">
                    <label for="lastNameRegister">Last name</label>
                    <input class="form-control" name="nom" type="text" autocomplete="off" placeholder="Last Name" required/>
                </div>

                <div class="form-group">
                    <label for="emailRegister">Email address</label>
                    <input class="form-control" name="email" type="email" autocomplete="off" placeholder="Email Address" required/>
                </div>

                <button class="btn btn-primary" type="submit">Sign up</button>

            </form>

        </div>

    </div>

{% endblock %}
