.container{
    display:inline-block
}

.container-suggestions{
    background-color:dimgray;
    border:1px solid darkslategray;
    color:white;
    width:15%;
}

.container-suggestions > p > a{
    color:white;
}

.container-listkebabs{
    width:60%;
    border:2px gray solid;
    border-radius: 10px;
    margin-left:50px;
}

.container-boutons{
    width:15%;
}

body{
    padding-top:70px;
}

.panel-profile{
    margin-left:20%;
    margin-right:20%;
}