.container{
    display:inline-block;
}

.container-suggestions{
    background-color:dimgray;
    border:1px solid darkslategray;
    color:white;
    width:15%;
}

.container-suggestions > p > a{
    color:white;
}

.container-listkebabs{
    width:60%;
    border:2px gray solid;
    border-radius: 10px;
    margin-left:20%;
}

.container-kebab{
    margin-top:5px;
}
.container-kebab > .panel-body > img{
    margin-left:auto;
    margin-right:auto;
}

.container-boutons{
    width:15%;
}

.container-boutons-media{
    visibility: hidden;
    width:5%;
    margin-right:8%;
}

body{
    padding-top:70px;
}

.panel-profile{
    margin-left:20%;
    margin-right:20%;
}

.textgrise{
    color:gray;
}

.form-group input.searchbar{
    width:400px;
}

.fixed{
    position:fixed;
}

.fixed-media{
    position:fixed;
    top:150px;
}

@media screen and (max-device-width: 600px) {
    .container-suggestions{
        visibility: hidden;
    }
    .container-listkebabs{
        width:87%;
        margin-left:5px;
    }
    .container-boutons{
        visibility: hidden;
    }
    .container-boutons-media{
        visibility: visible;
    }
}